/*Limpar formatações padrão*/
* {
    /*Os astesrico é o seletor que quer dizer TUDO*/
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}


/*
--- Layout ---
*/

#area-cabecalho {
    background-color: #474056;
    padding: 15px;
    text-align: center;
}

#area-logo,
#area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}


#area-postagens {
    width: 660px;
    flex-direction: column;
    align-items: center;
}



#area-lateral {
    width: 240px;
    float: right;

}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;

}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    width: 600px;
    text-align: center;
    margin: 15px;


}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}



/*
--- Formatações do menu ---
*/
a {
    text-decoration: none;

}

a:link,
a:visited {
    color: #474056;

}

a:hover {
    color: white;
    background-color: #474056;
    padding: 0 5px;
    border-radius: 10px;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
    color: white;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #474056;
    background: white;
    border-radius: 0;

}

#area-lateral a:hover {
    border-radius: 0px;
    padding: 2px;

}




/*
--- Formatações em geral ---
*/

h1 {
    color: white;
    font-size: 2.5em;
}

h2 {
    color: #474056;
}

h3 {
    color: #757083;
    background: #ccc;
    padding: 5px;
}


.white {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    /*sempre a ultima propriedade que vai ser aplicada*/
}